.tas_toggle_button {
  bottom: 10px !important;
  width: 100% !important;
  height: 36px !important;
  right: 10px !important;
  z-index: 1 !important;
  padding: 4px 12px !important;
  margin-left: 10px !important;
  margin-top: 48px !important;
  border: 3px solid #ffffff00 !important;
  border-radius: 24px !important;
  background: #6b7d8c !important;
  color: #fff !important;
  cursor: pointer !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;

  &:hover {
    background: #8899A6 !important;
  }

  &:active {
    border: 3px solid #1da1f2 !important;
  }
}