.tas_toggle_button{
  bottom: 10px!important;
  width: 6em!important;
  right: 10px!important;
  z-index: 1000!important;
  padding: 5px!important;
  margin-left: 10px!important;
  border: none!important;
  border-radius: 5px!important;
  background: white!important;
  color: black!important;
  cursor: pointer!important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)!important;
  &:hover{
    filter: brightness(0.8)!important;
  }
}